html, body {
    font-family: 'Poppins', sans-serif;
}
#app {
    margin: auto;
    text-align: center;   
}

ul#horizontal-list {
    padding-top: 20px;
}

ul#horizontal-list li {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}